# Python cache
__pycache__/
*.pyc

Data/my_contacts.csv
Data/my_messages.txt

# Virtual environment
venv/
env/
.venv/

# PyCharm files
.idea/

# Environment secrets
.env

# Build files
dist/
build/

# EXE files
*.exe

# Logs
*.log